@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

figure,
article {
  margin: 1.1rem;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.banner {
  display: flex;
  flex-wrap: wrap;
}

header,
.group {
  text-align: center;
}

.head {
  margin: 0;
  font-size: 2rem;
}

.gardens {
  margin: 0;
  font-size: 1.125rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: .25rem;
}

a {
  color: #3783a3;
  font-size: 1.125rem;
}

li {
  display: inline-block;
}

.essence {
  text-align: center;
}
